{% extends "base.html" %}
{% block title %}Copos Térmicos - AquaPura{% endblock %}
{% block content %}

<section class="produtos">
    <h2>Copos Térmicos</h2>

    <div class="grid-produtos">
        {% for produto in produtos %}
        <div class="produto">
            <img src="{{ produto.imagem_principal }}" alt="{{ produto.nome }}">
            <h3>{{ produto.nome }}</h3>
            <p>R${{ produto.preco }}</p>
            <button>Adicionar ao carrinho 🛒</button>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
