{% extends "base.html" %}
{% block title %}Garrafas Térmicas - AquaPura{% endblock %}
{% block content %}

<section class="produtos">
    <h2>Garrafas Térmicas</h2>
    <p>As melhores garrafas para hidratação em qualquer momento do seu dia.</p>

    <div class="grid-produtos">
        <div class="produto">
            <img src="{{ url_for('static', filename='img/garrafas.png') }}" alt="Garrafa térmica">
            <h3>Garrafa Térmica Aqua 750ml</h3>
            <p>R$119,90</p>
            <button>Adicionar ao carrinho 🛒</button>
        </div>
    </div>
</section>

{% endblock %}
