{% extends "base.html" %}
{% block title %}Página Inicial - AquaPura{% endblock %}
{% block content %}
    <section class="banner">
        <img src="../static/img/banner-promocao.png" alt="Promoção AQUAPURA">
    </section>

    <section class="categorias">
        <div class="categoria">
            <img src="../static/img/garrafas.png" alt="Garrafas">
            <h3>Garrafas</h3>
        </div>
        <div class="categoria">
            <img src="../static/img/copos.png" alt="Copos">
            <h3>Copos</h3>
        </div>
        <div class="categoria">
            <img src="../static/img/acessorios.png" alt="Acessórios">
            <h3>Acessórios</h3>
        </div>
    </section>
{% endblock %}
